<div class="card bg-light mb-3 mt-5">
	<div class="card-header">Tente Novamente</div>
	<div class="card-body">
		<h4 class="card-title">Token Expirado</h4>
		<p class="card-text">Por algum motivo o seu token está expirado, tente novamente no App informar o seu e-mail que enviaremos um novo e-mail.</p>
	</div>
</div>
