<div class="card mt-5">
	<div class="card-header">
		Senha Atualizada
	</div>

	<div class="card-body">
		<h4 class="card-title">Sua senha foi atualizada com sucesso</h4>
	</div>
	<div class="card-footer text-muted">
		Loldesign - Recuperação de Senha
	</div>
</div>
